@model FinalProject.ViewModels.EventsChunkViewModel
@* Частковий шаблон для підвантаження нових карток подій. *@

@foreach (var eventCard in Model.Events)
{
    @await Component.InvokeAsync("EventCard", new { eventCard })
}

<div class="ph-chunk-meta"
     data-next-skip="@Model.NextSkip"
     data-has-more="@Model.HasMore.ToString().ToLowerInvariant()"></div>
